/* layout */
$mobile-width: 375px;
$desktop-width: 1440px;

/* colors */
$primary-grayish-blue: #7d99b4;
$primary-soft-red: #f6495e;
$neutral-white: #ffffff;
$neutral-dark-desaturated-blue: #3c4a5e;
$neutral-very-dark-blue: #1c232b;
$neutral-very-dark-black-blue: #1b1f23;

/* typography */
$body-font-size: 14px;
$font-family: "Red Hat Text", sans-serif;
$font-weight: 700;
